/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

::-webkit-input-placeholder {
  color:#eee;
  opacity: 1;
}
::-moz-placeholder          {
  color:#eee;
  opacity: 1;
}/* Firefox 19+ */
:-moz-placeholder           {
  color:#eee;
  opacity: 1;
}/* Firefox 18- */
:-ms-input-placeholder      {
  color:#eee;
  opacity: 1;
}

html {
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 87.5%;
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

b,
strong {}

i,
em {}

dfn {}

sup {}

sub {}

del {}

ins {}

blockquote {}

cite {}

q {}

address {}

ul {}

ol {}

li {}

dl {}

dd {}

dt {}

abbr {}

acronym {}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Outer wrappers:
 * - #page-wrapper: body > #page-wrapper
 * - #page: body > #page-wrapper > #page
 * - .container: body > #page-wrapper > #page.container
 *
 * The .container class holds the page width value from theme settings.
 */
#page-wrapper {}
#page {
  position: relative;
  padding: 0;
}
#page .container {}

/*
 * Wraps all header elements - branding and .region-header
 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 92px;
  width: 100%;
  z-index: 20;
  /*background-color: #a4a5a6;*/
  -webkit-transition: background 800ms ease-in-out;
  -moz-transition: background 800ms ease-in-out;
  -ms-transition: background 800ms ease-in-out;
  -o-transition: background 800ms ease-in-out;
  transition: background 800ms ease-in-out;
}
#header.go {
  background-color: #a4a5a6;
}
.admin-menu #header {
  top: 29px;
}

/*
 * Wraps the sidebars the content column
 */
#columns {
  /*margin-top: 92px;*/
}

/*
 * Main content column wrapper
 */
#content-column {
  float: none !important;
}

/*
 * Wraps the main-content-header, the content region and feed-icons. Use this
 * wrapper to style the entire main content column
 */
#main-content {}

/*
 * Wraps the content region, avoid applying styles to this wrapper, its used
 * mainly for position and invisible gutters and can be problematic to style
 */
#content {}

/*
 * Footer wrapper
 */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer #logo {
  width: 260px;
}
#footer #logo a {
  display: block;
  height: 45px;
  width: 200px;
  background: url("../images/White-logo.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
#footer #logo img {
  display: none;
}
#footer .block-inner {
  display: table;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  max-width: 1080px;
  width: 100%;
}
#footer .block-inner > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
#footer .social-block .content br {
  display: none;
}
#footer .menu {
  padding: 0;
  margin: 0;
  text-align: center;
}
#footer .menu li {
  display: inline-block;
  margin: 0 5%;
  list-style: none;
}
#footer .menu li a {
  color: #a22d2a;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#footer .menu li a:hover {
  color: #fff;
}
#footer .social-block {
  text-align: right;
}
#footer .social-block p {
  margin: 0;
}
#footer .social-block a {
  margin-left: 26px;
  text-indent: 9999px;
}
#footer .social-block a.linkedin {
  margin-left: 0;
}

/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {}

/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width - you can style this but never
 * add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps the leaderboard
 */
#leaderboard-wrapper {}
#leaderboard-wrapper .container {}

/*
 * Wraps the header
 */
#header-wrapper {
  /* Debug styles, is this working */
  background: rgba(255, 192, 203, 0.5);
}
#header-wrapper .container {}

/*
 * Wraps the nav elements
 */
#nav-wrapper {}
#nav-wrapper .container {}

/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {}
#breadcrumb-wrapper .container {}

/*
 * Wraps messages and help
 */
#messages-help-wrapper {}
#messages-help-wrapper .container {}

/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {}
#secondary-content-wrapper .container {}

/*
 * Wraps the main content column
 */
#content-wrapper {}
#content-wrapper .container {}

/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {}
#tertiary-content-wrapper .container {}

/*
 * Footer wrapper
 */
#footer-wrapper {
  /* Debug styles, is this working? */
  background: rgba(255, 192, 203, 0.5);
}
#footer-wrapper .container {}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
  overflow: hidden;
}

/*
 * Logo
 */
#logo {
  float: left;
  padding: 10px 0;
}

#logo img {
  vertical-align: bottom;
}

/*
 * Wrapper for the site name and slogan
 */
#name-and-slogan {}

/*
 * Site name (h1)
 */
#site-name {
  margin: 0;
}

#site-name a {}

#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/*
 * Site slogan (h2)
 */
#site-slogan {
  margin: 0;
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {}

/*
 * The main page title (h1)
 */
#page-title {
  margin: 0;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}

.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}

/*
 * Generic styles for the more link
 */
.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment
 * stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;
}

ul.links.inline {
  display: block;
}

ul.links li {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
  padding: 0;
}

/*
 * Attribution message and link
 */
.attribution {
  display: block;
  opacity: 0.65;
  padding: 1em 0;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: inherit;
}

.attribution a:hover,
.attribution a:focus {
  text-decoration: underline;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the
 * layout - no margin, padding or borders etc
 */
.region {}

/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}

/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}

/*
 * Header region, embedded in the #header
 */
.region-header {}

/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {}

/*
 * Secondary content
 */
.region-secondary-content {}

/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}

/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}

/*
 * Sidebars - targets both
 */
.sidebar {}

/*
 * First sidebar
 */
.region-sidebar-first {}

/*
 * Second sidebar
 */
.region-sidebar-second {}

/*
 * Tertiary content
 */
.region-tertiary-content {}

/*
 * Footer region
 */
.region-footer {
}


/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;
}

a:link,
a:visited {}

a:active,
a.active {}

a:hover,
a:focus {
  text-decoration: underline;
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

#header .nav {
  float: right;
  margin: 30px 0 0;
}

#header .nav ul,
#header .nav ul.menu {
  margin: 0;
  padding: 0;
}

#header .nav li,
#header .nav ul.menu li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0 0 0 40px;
  padding: 0;
}

#header .nav li a,
#header .nav ul.menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 5px;
  color: #a22d2a;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

#header .nav li a:visited,
#header .nav ul.menu li a:visited {}

#header .nav li a.active,
#header .nav li.active a,
#header .nav li.active a.active,
#header .nav li a:hover,
#header .nav li a:focus,
#header .nav ul.menu li a:hover,
#header .nav ul.menu li a:focus {
  color: #fff;
}

.nav .block {
  margin-bottom: 0;
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;
}

ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 2.5em;
  line-height: 2.5em;
}

ul.sf-menu a:link,
ul.sf-menu a:visited {}

ul.sf-menu li {}

ul.sf-menu li:hover,
ul.sf-menu li.sfHover {
  outline: 0;
}

ul.sf-menu a {}

ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
  outline: 0;
}

/*
 * Superfish blocks
 */
.block-superfish {}

.block-superfish .block-inner .content {}

.block-superfish ul {
  margin: 0 !important;
  padding: 0 !important;
}

.block-superfish ul ul {}

.block-superfish ul ul ul {}

.block-superfish ul ul ul ul {}

.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;
}

.sf-vertical li {
  width: 100%;
}

.sf-vertical li.last {}

.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}

.sf-vertical li a {
  padding: 0 10px;
}

/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}

/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}




/* =============================================================================
 *   Menu Toggles
 * ========================================================================== */

.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.at-mt .at-menu-toggle-button {
  margin: 0;
}

.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}




/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;
}

ul.menu ul {
  padding-left: 15px;
}

ul.menu ul ul {}

ul.menu ul ul ul {}

ul.menu li {
  margin: 0;
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {}

ul.menu li a {}

ul.menu li a:link,
ul.menu li a:visited {}

ul.menu li a:active,
ul.menu li a.active {}

ul.menu li a:hover,
ul.menu li a:focus {}

ul.menu li.active a,
ul.menu li.active-trail a {}

ul.menu li.first,
ul.menu li.last {}

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {}

.book-navigation .page-links {}

.book-navigation .page-previous {}

.book-navigation .page-next {}

.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes the string is two chars */
  min-width: 2em;
  white-space: nowrap;
}

.book-navigation .menu {
  margin-left: 0;
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;
}

/* If the label is set to show in theme settings the label class is added */
#breadcrumb .breadcrumb-label {
  font-size: 1em;
  display: inline;
  padding-right: 10px;
}

#breadcrumb .breadcrumb-label:after {
  content: ":";
}

#breadcrumb ol {
  margin: 0;
  padding: 0;
}

#breadcrumb .with-breadcrumb-label ol {
  display: inline;
}

#breadcrumb li {
  list-style: none;
  display: inline;
}

#breadcrumb li.crumb-first {}

#breadcrumb li.crumb-last {}

#breadcrumb a {}

#breadcrumb a:link,
#breadcrumb a:visited {}

#breadcrumb a:active,
#breadcrumb a.active {}

#breadcrumb a:hover,
#breadcrumb a:focus {}

#breadcrumb .crumb-separator {}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}

ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}

/*
 * Theme the various states of pager links
 */
ul.pager li {}

ul.pager li a {}

ul.pager li a:link,
ul.pager li a:visited {}

ul.pager li a:active,
ul.pager li a.active {}

ul.pager li a:hover,
ul.pager li a:focus {}

ul.pager li.pager-item {}
ul.pager li.first {}
ul.pager li.last {}
ul.pager li.pager-current {}
ul.pager li.pager-first {}
ul.pager li.pager-previous {}
ul.pager li.pager-next {}
ul.pager li.pager-last {}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}

#skip-link a {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}

ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}

ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}

ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}

ul.primary li a:hover,
ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}

ul.secondary li a {}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;
}

ul.action-links li {}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}

/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}

/*
 * When labels are set to inline in field display settings the clearfix class is
 * automatically added
 */
.field-label-inline {}

.field-label-inline .field-label {
  margin: 0;
}

/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted
 * ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}




/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {}

.field-type-image .caption {}

.field-type-image .full-caption {}

.field-type-image .teaser-caption {}

/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {
  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;
}

.field-type-taxonomy-term-reference.field-label-inline .field-items {
  margin: 0;
  padding: 0;
}

.field-type-taxonomy-term-reference.field-label-inline .field-item {
  display: inline;
  list-style: none;
  padding: 0 10px 0 0;
}

/*
 * Text
 */
.field-type-text {}

/*
 * Long text
 */
.field-type-text-long {}

/*
 * Text with summary
 */
.field-type-text-with-summary {}

/*
 * File
 */
.field-type-file {}

/*
 * Number/Integer
 */
.field-type-number-integer {}

/*
 * Decimal
 */
.field-type-number-decimal {}

/*
 * Number float
 */
.field-type-number-float {}

/*
 * List
 */
.field-type-list-text {}

/*
 * List boolean
 */
.field-type-list-boolean {}

/*
 * List integer
 */
.field-type-list-integer {}

/*
 * List float
 */
.field-type-list-float {}

/*
 * Field types (Contrib)
 */
.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}

/*
 * Named fields
 */
.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}

/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {}

/*
 * Image Alignment Theme Settings - included here so you can easily override
 */
/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {}

/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}

/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}

/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}


/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {

}

/*
 * Inner wrapper for most blocks, good for margin, padding and borders,
 * block_system_main does not have it
 */
.block-inner {}

/*
 * The first block in the region
 */
.block.first {}

/*
 * The last block in the region
 */
.block.last {}

/*
 * Zebra striping for each block in the region
 */
.block.odd {}

/*
 * Zebra striping for each block in the region
 */
.block.even {}

/*
 * Block title
 */
.block-title {
  margin: 0;
}

/*
 * Block content wrapper
 */
.block-content {}

/*
 * Match item list and block menu margin and padding
 */
.block-content {}

.block-content ul,
.block-content ol {
  padding: 0 0 0 15px;
}

.block-content li {
  margin: 0;
  padding: 0;
}

/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {}

/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {}

/*
 * First block created with "Add block" link
 */
#block-block-1 {}

/*
 * "Recent blog posts" block
 */
#block-blog-recent {}

/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {}

/*
 * "Recent comments" block
 */
#block-comment-recent {}

/*
 * "Active forum topics" block
 */
#block-forum-active {}

/*
 * "New forum topics" block
 */
#block-forum-new {}

/*
 * Language switcher block
 */
#block-locale-language {}

/*
 * Custom menu block
 */
#block-menu-menu-NAME {}

/*
 * "Recent content" block
 */
#block-node-recent {}

/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {}

/*
 * "Most recent poll" block
 */
#block-poll-recent {}

/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {}

/*
 * "Search form" block
 */
#block-search-form {}

/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {}

/*
 * "Popular content" block
 */
#block-statistics-popular {}

/*
 * "Main menu" block
 */
#block-system-main-menu {}

/*
 * "Management" block for Drupal management menu
 */
#block-system-management {}

/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {}

/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {}

/*
 * "System help" block
 */
#block-system-help {}

/*
 * "Main page content" block
 */
#block-system-main {}

/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {}

/*
 * "User login form" block
 */
#block-user-login {}

/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {}

/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {}


/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;
}

.node.node-promoted {}

.node.node-sticky {}

.node.node-by-viewer {}

.node.node-teaser {}

.node.node-full {}

.node.odd {}

.node.even {}

.node .node-title {
  margin: 0;
}

.node .user-picture {}

.node .submitted {}

.node .submitted .username {}

.node .submitted time {}

.node .node-content {}

.node ul.links {}

.node ul.links li {}

.node ul.links li a {}

.node ul.links li.node-read-more a {}

.node ul.links li.comment-add a {}

.node ul.links li.comment-comments a {}

.node ul.links li.comment-new-comments a {}

.node ul.links li.blog-sernames-blog a {}

.node ul.links li.print-html a {}

.node ul.links li.print-email a {}

.node ul.links li.print-pdf a {}

.preview .node {}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}


/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;
}

#comments h2 {}

#comments h2.comment-title {
  margin: 0;
}

#comments h2.comment-form {
  margin: 0;
}

/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;
}

.comment.first {}

.comment.last {}

.comment.odd {}

.comment.even {}

.comment .user-picture {}

.comment .submitted {}

.comment .submitted p {}

.comment .submitted .username {}

.comment .submitted time {}

.comment .user-signature {}

.comment ul.links {}

/*
 * Comment title
 */
.comment-title {
  margin: 0;
}

/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}

/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #c00;
}

.form-item label {
  font-weight: 700;
}

.form-item label.option {}

/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: #c00;
}

.form-item .description {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item {}

/*
 * The submit button
 */
.form-submit {}

.container-inline div,
.container-inline label {
  display: inline;
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid #ccc;
}

/*
 * Tips for Drupal's input formats
 */
.tips {}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

table.sticky-header {
  z-index: 10;
}

table,
thead,
tbody,
tr,
th,
td {
  border-color: #ccc;
}

table,
td,
th {
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
}

thead tr {
  font-weight: 700;
  background-color: #e5e5e5;

}

td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}

tbody {}

tbody tr {
  border-top: 1px solid #ccc;
}

tr.odd {
  background: #fff;
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
  border-bottom: 0;
  background-color: #f5f5f5;
}

tr.drag {}

tr.drag-previous {}

tr.odd td.active {
  background-color: #eee;
}

tr.even td.active {
  background-color: #ebebeb;
}

.lt-ie8 tr {}

.lt-ie8 tr.even,
.lt-ie8 tr.odd {}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
}

/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {}

#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: normal;
}



/* =============================================================================
 *   Messages
 * ========================================================================== */

/* Left and right margin are set by the global gutter width */
div.messages {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {}

div.warning {}

tr.warning {}

div.error,
tr.error {}

.error {}

.messages.error {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40%;
  z-index: 200;
}

.warning {}

/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
  color: pink;
  color: rgba(239, 170, 170, 0.4);
  font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
  font-size: 75px;
  font-weight: bold;
  height: 0;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

/*
 * Otherwise these elements will appear below the "Unpublished" text
 */
.lt-ie8 {}

.lt-ie8 .node-unpublished > *,
.lt-ie8 .comment-unpublished > * {
  position: relative;
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {}
.maintenance-page .container {
  padding: 40px 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

.db-offline {}

.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}

.db-offline div.messages {
  margin: 20px 0 0;
}

.db-offline #content {
  padding: 20px 0;
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}

/*
 * Devel Module
 */
.dev-query {
  background: #eee;
  padding: 30px;
}

/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;
}

#styleguide-header .item-list {
  font-family: inherit;
  margin: 0 20px 20px 0;
  min-height: 260px;
  width: auto;
}



/*Custom styles*/

.social-block {
  text-align: center;
}
.social-block a {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
}
.social-block a.linkedin {
  height: 29px;
  width: 28px;
  background: url("../images/icons/lin.png") no-repeat center center;
}
.social-block a.facebook {
  height: 28px;
  width: 14px;
  background: url("../images/icons/fb.png") no-repeat center center;
}
.social-block a.vk {
  height: 18px;
  width: 29px;
  background: url("../images/icons/vk.png") no-repeat center center;
}

.col-md-3 {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20% 0;
  width: 44px;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}
.col-md-3 .block-inner {
  position: relative;
}
.col-md-3 .panel-panel-inner {

}
.col-md-3 .social-block {
  margin-top: 60px;
}
.col-md-3 .social-block a {
  margin: 11px 0;
}
.col-md-3 .pane-webform .pane-title {
  position: absolute;
  top: -70px;
  left: -59px;
  display: block;
  padding: 0 22px;
  background-color: #871613;
  color: #fbf7f7;
  font-size: 12px;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  cursor: pointer;
}
.overlay,
.col-md-3 .pane-webform .block-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0f32+0,0f0f32+100&amp;0.84+0,1+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwZjBmMzIiIHN0b3Atb3BhY2l0eT0iMC44NCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGYwZjMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(15,15,50,0.84) 0%, rgba(15,15,50,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(15,15,50,0.84)), color-stop(100%,rgba(15,15,50,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(15,15,50,0.84) 0%,rgba(15,15,50,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(15,15,50,0.84) 0%,rgba(15,15,50,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(15,15,50,0.84) 0%,rgba(15,15,50,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(15,15,50,0.84) 0%,rgba(15,15,50,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60f0f32', endColorstr='#0f0f32',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.col-md-3 .pane-webform .block-content a.ajax-processed {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-indent: -9999px;
  /*bottom: 20%;
  left: 0;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 28px;
  text-align: center;*/
}

.webform-confirmation,
.col-md-3 .pane-webform .block-content form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 327px;
  height: 100%;
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  z-index: 20;
}
.webform-confirmation {
  max-width: 600px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.webform-confirmation a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
.col-md-3 .pane-webform.order-form .block-content form {
  position: absolute;
  max-height: 80%;
  max-width: 50%;
  overflow-y: auto;
}

.col-md-9 {
  padding: 0;
  width: 100%;
}


h2.pane-title {
  margin-bottom: 35px;
  color: #38383a;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
h2.pane-title span {
  color: #d7130d;
}

.view-services .quicktabs-wrapper ul.quicktabs-tabs {
  display: table;
  padding: 0 !important;
  width: 100%;
  border-bottom: 1px solid #f2f5fa;
}
.view-services .quicktabs-wrapper ul.quicktabs-tabs li {
  display: table-cell;
  padding: 0;
  width: 20%;
}
.view-services .quicktabs-wrapper ul.quicktabs-tabs li a {
  position: relative;
  display: block;
  height: 85px;
  background: none;
  color: #38383a;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 85px;
  text-align: center;
}
.view-services .quicktabs-wrapper ul.quicktabs-tabs li a:hover:after,
.view-services .quicktabs-wrapper ul.quicktabs-tabs li.active a:after {
  position: absolute;
  bottom: -13px;
  left: 0;
  display: block;
  content: '';
  height: 13px;
  width: 100%;
  background: url("../images/tab-arrow.png") no-repeat center top;
}
.view-services .quicktabs-wrapper ul.quicktabs-tabs li.active a,
.view-services .quicktabs-wrapper ul.quicktabs-tabs li a:hover {
  background: url(../images/qt-bg.jpg) repeat-x;
  background-size: 1px 100%;
  background-position: 0 0;
}

strong.order,
a.order {
  display: inline-block;
  height: 44px;
  padding: 0 8px;
  margin-top: 28px;
  background-color: #871613;
  color: #fbf7f7;
  font-size: 11px;
  font-weight: 500;
  line-height: 44px;
  text-transform: uppercase;
  text-decoration: none;
}

strong.order {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 62px;
  width: 232px;
  font-size: 16px;
  line-height: 62px;
  text-align: center;
  cursor: pointer;
}

.block-system > .contextual-links-region > .contextual-links-wrapper {
  top: 92px;
}
.radix-layouts-content > .panel-panel-inner > .panel-pane:not(.start-panel):not(.pane-contact) .block-inner {
  padding-top: 8%;
  padding-bottom: 70px;
}
.radix-layouts-content > .panel-panel-inner > .panel-pane > .block-inner {
  /*position: absolute !important;
  top: 0;
  left: 0;
  right: 0;*/
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
  max-width: 1080px;
  width: 100%;
}
.block-system .panel-panel .panel-pane.start-panel {
  position: relative;
  padding-top: 0;
  background: url(../images/road.jpg) no-repeat fixed center center;
  background-size: cover;
}
.block-system .panel-panel .panel-pane.start-panel p {
  margin: 0;
}
.block-system .panel-panel .panel-pane.start-panel a.start {
  position: absolute;
  bottom: -500px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto 0 300px;
  height: 400px;
  width: 272px;
  opacity: 0;
  background: url(../images/suricate.png) no-repeat center 0;
  background-size: contain;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 3px 5px #757575;

}
.block-system .panel-panel .panel-pane.start-panel a.start.begin {
  /*bottom: -800px;
  opacity: 0;*/
  bottom: 0;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.block-system .panel-panel .panel-pane.pane-services .block-inner {
  background: url(../images/service-bg.png) no-repeat right bottom;
}
.block-system .panel-panel .panel-pane.pane-projects {
  position: relative;
  background: url(../images/portfolio-1-bg.png) no-repeat center bottom;
}
.block-system .panel-panel .panel-pane.pane-projects .block-inner {
  position: relative;
  /*background: url(../images/portfolio-2-bg.png) no-repeat left top;*/
}
.block-system .panel-panel .panel-pane.pane-about {
  position: relative;
  z-index: 3;
  background: url(../images/about-1-bg.png) no-repeat center 100px;
  /*-webkit-box-shadow: 0 40px 30px 0 rgba(0,0,0,0.7);
  box-shadow: 0 40px 30px 0 rgba(0,0,0,0.7);*/
}
.block-system .panel-panel .panel-pane.pane-about .block-inner {
  position: relative;
  background: url(../images/about-2-bg.png) no-repeat center top;
  -webkit-background-size: contain;
  background-size: contain;
}
.block-system .panel-panel .panel-pane.pane-about .block-content p {
  color: #222;
  font-size: 20px;
}

.block-system .panel-panel .panel-pane.pane-contact {
  position: relative;
  padding-top: 0;
  background: url(../images/contacts-tumb.jpg) no-repeat fixed 0 0;
  background-size: cover;
  -webkit-box-shadow:inset 0 -100px 60px 15px rgba(0,0,0,0.8);
  box-shadow:inset 0 -100px 60px 15px rgba(0,0,0,0.8);
}
.radix-layouts-content > .panel-panel-inner > .panel-pane.pane-contact > .block-inner {
  padding-top: 12% !important;
}
.radix-layouts-content > .panel-panel-inner > .panel-pane.pane-contact .block-inner .panel-pane {
  background: none;
}
.block-system .panel-panel .panel-pane.pane-contact .block-inner .panel-col-first {
  color: #fff;
  font-size: 24px;
}
.block-system .panel-panel .panel-pane.pane-contact .block-inner .panel-col-first a {
  color: #fff;
  text-decoration: none;
}
.block-system .panel-panel .panel-pane.pane-contact .submitted,
.block-system .panel-panel .panel-pane.pane-contact .pane-title {
  display: none;
}
#services .block-inner,
#projects .block-inner,
#about .block-inner {
  padding-bottom: 150px;
}
#contact .block-inner {
  padding-bottom: 100px;
}
#contact .block-inner > .block-content {
  padding: 0 40px 0 60px;
  font-weight: bold;
  text-shadow: 0 0 5px #000000;
}


/*Portfolio*/
.view-projects.view-display-id-block {
  position: relative;
  margin-top: 80px;
}
.view-projects.view-display-id-block .flex-viewport {
  padding-bottom: 50px;
}
.view-projects.view-display-id-block .view-content {}
.view-projects.view-display-id-block .view-content .views-row {
  position: relative;
  margin: 0 10px;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(78%, transparent), to(rgba(255,255,255,0.2)));
}

.view-projects.view-display-id-block .view-content .views-row:hover .views-field-field-project-image {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.view-projects.view-display-id-block .view-content .views-row .views-field-field-project-image:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.view-projects.view-display-id-block .view-content .views-row:hover .views-field-field-project-image:after,
.view-projects.view-display-id-block .view-content .views-row:hover .views-field-title,
.view-projects.view-display-id-block .view-content .views-row:hover .views-field-body,
.view-projects.view-display-id-block .view-content .views-row:hover .views-field-field-project-link {
  opacity: 1;
}

.view-projects.view-display-id-block .view-content .views-row .views-field {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-field-project-image {

}
.view-projects.view-display-id-block .view-content .views-row .views-field-field-project-image img {
  display: block;
  height: auto;
  width: 100%;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-title {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  text-shadow: 0 0 5px #000000;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-title a {
  color: #fff;
  text-decoration: none;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-body {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  text-shadow: 0 0 5px #000000;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-body a {
  color: #fff;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-field-project-link {
  opacity: 0;
}
.view-projects.view-display-id-block .view-content .views-row .views-field-field-project-link a {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 37px;
  width: 100%;
  background-color: #871613;
  color: #fff;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
}
.view-projects.view-display-id-block .flex-direction-nav {
  padding: 0;
  margin: 0;
}
.view-projects.view-display-id-block .flex-direction-nav li {
  list-style: none;
}
.view-projects.view-display-id-block .flex-direction-nav li a {
  position: absolute;
  top: 36%;
  display: block;
  height: 37px;
  width: 35px;
  overflow: hidden;
  text-indent: -9999px;
}
.view-projects.view-display-id-block .flex-direction-nav li a.flex-prev {
  left: -15px;
  background: url(../images/slider-l.png) no-repeat center center;
}

.view-projects.view-display-id-block .flex-direction-nav li a.flex-next {
  right: -26px;
  background: url(../images/slider-r.png) no-repeat center center;
}


/*SERVICES*/
.view-services.view-display-id-block {}
.view-services.view-display-id-block .view-content {
  color: #222;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
.view-services.view-display-id-block .views-field {
  margin-left: 300px;
}
.view-services.view-display-id-block .views-field-field-service-image {
  float: left;
  margin: 0;
}
.view-services.view-display-id-block .views-field-body {
  padding-top: 20px;
  margin-top: 30px;
}
.view-services.view-display-id-block .views-field-field-cost {
  font-weight: normal;
}


a.gotop {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  height: 35px;
  width: 37px;
  overflow: hidden;
  background: url(../images/go-top.png) no-repeat;
  text-indent: -9999px;
  z-index: 5;
}
a.godown {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  height: 35px;
  width: 37px;
  overflow: hidden;
  background: url(../images/start.png) no-repeat;
  text-indent: -9999px;
  z-index: 5;
}


#services,
#projects,
#about,
#contact {
  position: relative;
}
#services,
#projects {
  border-bottom: 1px solid #f2f5fa;
}


/* WEBFORM */
.pane-contact .pane-webform {}
.col-md-3 .pane-webform .block-content form,
.pane-contact .pane-webform form {
  padding: 19px 22px;
  border: 1px solid rgba(48, 48, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: url(../images/webform-bg.png);
}
.pane-contact .pane-webform form {
  background: url(../images/webform-bg-dark.png);
}
.pane-contact .pane-webform form {
  float: right;
  width: 354px;
}
.pane-contact .pane-webform form .webform-component--contact-title strong {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.col-md-3 .pane-webform .block-content form fieldset,
.pane-contact .pane-webform form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.col-md-3 .pane-webform .block-content form .form-item,
.pane-contact .pane-webform form .form-item {
  margin: 0 0 12px;
}
.pane-contact .pane-webform form .webform-component-radios {
  /*display: inline-table;
  padding-left: 17px;
  width: 49%;*/
}
.col-md-3 .pane-webform .block-content form .form-type-radio,
.pane-contact .pane-webform form .form-type-radio {
  margin: 0;
  display: inline-table;
  /*padding-left: 17px;*/
  width: 49%;
}
.col-md-3 .pane-webform .block-content form .form-type-radio label,
.pane-contact .pane-webform form .form-type-radio label {
  padding-left: 16px;
  background: url(../images/radio.png) no-repeat left center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
.col-md-3 .pane-webform .block-content form input[type="radio"],
.pane-contact .pane-webform form input[type="radio"] {
  display: none;
}
.col-md-3 .pane-webform .block-content form .form-type-radio input:checked + label,
.pane-webform form .form-type-radio input:checked + label {
  background-image: url(../images/radio-on.png);
}
.col-md-3 .pane-webform .block-content form textarea,
.col-md-3 .pane-webform .block-content form input[type="email"],
.col-md-3 .pane-webform .block-content form input[type="text"],
.pane-contact .pane-webform form textarea,
.pane-contact .pane-webform form input[type="email"],
.pane-contact .pane-webform form input[type="text"] {
  padding: 0 13px;
  height: 22px;
  width: 100%;
  border: 1px solid rgba(48, 48, 49, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: url(../images/webform-bg.png);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.col-md-3 .pane-webform .block-content form .grippie,
.pane-contact .pane-webform form .grippie {
  display: none;
}
.col-md-3 .pane-webform .block-content form textarea,
.pane-contact .pane-webform form textarea {
  height: auto;
  resize: none;
}
.col-md-3 .pane-webform .block-content form input[type="submit"],
.pane-contact .pane-webform form input[type="submit"] {
  height: 39px;
  width: 100%;
  border: 1px solid #303031;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #871613;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
}

.col-md-3 .pane-webform.order-form .pane-title {
  display: none;
}
.col-md-3 .pane-webform.order-form .block-content form .form-item {
  display: table;
  width: 100%;
}
.col-md-3 .pane-webform.order-form .block-content form .webform-component--form-order-title strong {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  font-style: normal !important;
  text-align: center;
  text-shadow: 2px 3px 5px #000;
}
.col-md-3 .pane-webform.order-form .block-content form .webform-component--company-text-top {
  margin-bottom: 20px;
  font-size: 16px !important;
  text-align: center;
}
.col-md-3 .pane-webform.order-form .block-content form .form-item label {
  display: table-cell;
  padding-right: 20px;
  width: 200px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}
.col-md-3 .pane-webform.order-form .block-content form .form-item label + div,
.col-md-3 .pane-webform.order-form .block-content form .form-item label + .field-prefix,
.col-md-3 .pane-webform.order-form .block-content form .form-item label + .field-prefix + input {
  display: table-cell;
  color: #fff;
}
.col-md-3 .pane-webform.order-form .block-content form textarea,
.col-md-3 .pane-webform.order-form .block-content form input[type="email"],
.col-md-3 .pane-webform.order-form .block-content form input[type="text"] {
  width: 100%;
}
.col-md-3 .pane-webform.order-form .block-content form legend {
  margin: 10px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 2px 3px 5px #000;
}
.col-md-3 .pane-webform.order-form .block-content form .webform-component-markup,
.col-md-3 .pane-webform.order-form .block-content form .fieldset-description {
  margin: 0 0 10px;
  color: #ddd;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
}
.col-md-3 .pane-webform.order-form .block-content form div.description {
  color: #fff;
  display: table-cell;
  font-size: 10px;
  padding-left: 10px;
  width: 200px;
}
.col-md-3 .pane-webform.order-form .block-content form .form-managed-file > input {
  display: inline-table;
  width: 49%;
  vertical-align: top;
}
.col-md-3 .pane-webform.order-form .block-content form .form-managed-file > input[type="submit"] {
  height: 26px;
  font-size: 16px;
  line-height: 22px;
}
.col-md-3 .pane-webform.order-form .block-content form .webform-datepicker .form-item {
  display: inline;
}
/* END WEBFORM */


.copyright {
  padding-bottom: 25px;
  color: #fbf7f7;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}
.copyright span {
  margin-right: 14px;
}
.copyright a {
  color: inherit;
}

#seo {
  position: fixed;
  left: -5555px;
  bottom: -5555px;
}